#add-post {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #616161;
    opacity: 0.8;
    color: #b41515;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
    border: none;
    box-shadow: 0 0 3px #474747;
    padding: 0;
}

#add-post::before {
    content: "+";
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #f8f9fa; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* nav {
    box-shadow: 0 1px 8px 0px #636363;
} */

.footer {
    border-top: #dee2e6 solid 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* box-shadow: 0px 0px 8px 1px #636363; */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 65px;
}

#navbar-toggler {
    border: 0;
    outline: 0;
    background-color: #fff;
    box-shadow: none;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}